.dropdown {
    position: relative;
    display: inline-block;   /* ⭐ สำคัญ */
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
}

.dropdown-content div {
    padding: 100px;
    cursor: pointer;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdownbtn {
    background-color: aqua;
    color: black;
    padding: 16px;
    font-size: 32px;
    cursor: pointer;
}

.one, .two, .three {
    padding: 50px;
}


.one:hover {
    background-image: url("dechartgames-hungry-garden.gif");
    background-size: cover;
    background-position: center;
    color: white;
}

.two:hover {
    background-image: url("doge-burger.gif");
    background-size: cover;
    background-position: center;
    color: white;
}

.three:hover {
    background-image: url("xwf-harvey.gif");
    background-size: cover;
    background-position: center;
    color: white;
}



