table {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            border-collapse: collapse;
        }
        .first-cell {
            text-align: center;
            width: 50%;
            font-size: 1.5em;
            background-color: #64c5d7;
        }
        .second-cell {
            text-align: center;
            width: 50%;
            font-size: 1.5em;
            background-color: #fad374;
        }